.categories {
  height: 50px;
  align-items: center;
  display: flex;
  background: var(--dark);

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
    padding: 0;

    li {
      flex: 1 1 auto;
      text-transform: capitalize;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      color: white;
      cursor: pointer;

      &.selected {
        background: var(--green);
        cursor: default;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
