/* You can add global styles to this file, and also import other style files */

:root
{
  --green: #8DC63F; // or any global you wish to share with components
  --dark: #373737;
  --cream: #FCFCFC;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: var(--cream)}
